html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  /* background-color: #F8F9FA; */
}

h2 {
  color:#877D74;
  font-size: 2.22rem;

  margin-bottom: 0;
  font-weight: 500;

    /* text-align: center; */
}



.educationDetails {
  background-color: greenyellow;
}

.bg2 {
  background: url('./images/heroPencils.jpg');
  background-position: bottom right;
}

.uwLogo {
  
}

.educationDetails {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}




/* *-----replocating this using CSS Grid-------* */

/* .educationDetails {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
} */