html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  /* background-color: #F8F9FA; */
}

h2 {
  color:#877D74;
  font-size: 2.22rem;

  margin-bottom: 0;
  font-weight: 500;

    /* text-align: center; */
}



.educationDetails {
  background-color: greenyellow;
}

.bg2 {
  background: url('./images/heroPencils.jpg');
  background-position: bottom right;
}

.uwLogo {
  
}

.educationDetails {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

h3 + p {
  font-style: italic;
  font-weight: 500;
}

h3 ~ p {
  margin: 0;
}

.education p {
  width: 100%;
}

.educationDetails {
  color:#131314;
  background-color: hsl(219, 37.2%, 94.1%);
  background-image: url(images/colored-pencils.jpg);
  background-size: cover;
  background-position: center right;
  padding-bottom: 275px;
}

.educationLogos img{
  float: left;
  width: 110px;
  margin-right: 50px;
}


/* *-----replocating this using CSS Grid-------* */

/* .educationDetails {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
} */